html,
body,
#root,
#root > div {
  height: 100%;
}

.password-container .password-form {
    color: black;
    background-color: #f3f2f9;
    justify-content: center;
    align-items: center;
}

.password-container .box-inputs.desktop {
    width: 60%;
}

.password-container .box-inputs.mobile {
    width: 100%;
}

.password-container .box-inputs.select-component {
    border: 0;
    box-shadow: 0px 4px 25px 0px rgba(0,0,0,0.1) !important;
    transition: all 0.3 ease-in-out !important;
    font-family: "HelveticaNeuMedium" !important;
    border-radius: 10px !important;
}

.password-container .password-form.mobile {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 15px;
    height: 100%;
}
  
.password-container .password-form.desktop {
    padding-left: 175px;
    padding-right: 175px;
}

.password-container .password-form input {
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
}
  
.password-container .password-form.mobile input {
    font-size: 12px;
}
  
.password-container .password-form.desktop input {
    font-size: 14px;
}
  
.password-container .password-form input:hover,
.password-container .password-form input:focus {
    border: 1px solid black;
}

.password-container .password-form .title.desktop {
    font-size: 26px;
    font-weight: bolder;
    text-align: center;
}
  
.password-container .password-form .subtitle.desktop {
    opacity: 0.7;
    font-size: 14px;
    text-align: center;
}
  
.password-container .password-form .title.mobile {
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
}
  
.password-container .password-form .subtitle.mobile {
    opacity: 0.7;
    font-size: 12px;
    text-align: center;
}

.password-container .password-form .password-input,
.password-container .password-form .repeat-password-input {
    position: relative;
}
  
.password-container .password-form .password-input input,
.password-container .password-form .repeat-password-input input {
    padding-left: 55px;
}
  
.password-container .password-form .password-input img,
.password-container .password-form .repeat-password-input img {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 30px;
    top: 32%;
}

.password-container .password-form input.is-invalid {
    border: 1px solid red;
    background-image: url(/misc/icons/input_error.svg);
    background-size: 14px 14px;
}
  
.password-container .password-form.mobile .error {
    font-size: 12px;
    text-align: center;
}
  
.password-container .password-form.desktop .error {
    font-size: 14px;
    text-align: center;
}

.password-container .password-form input.is-valid {
    background-image: url(/misc/icons/input_ok.svg);
    background-size: 14px 14px;
}
  
.password-container .password-form .inputs-container {
    width: 500px;
}
  
.password-container .password-form .inputs-container span {
    font-size: 14px;
}





.password-container .password-form .mobile button {
    border-radius: 0;
    height: 35px;
    font-size: 12px;
    width: 150px;
    padding: 0;
}

.password-container .password-form .desktop button {
    height: 45px;
    font-size: 12px;
    width: 150px;
    padding: 0;
    border-radius: 0;
}
  
.password-container .password-form .btn-password,
.password-container .password-form .btn-password:hover {
    background-color: #028fb6;
    color: white;
}
  
.password-container .password-form .btn-password:disabled {
    opacity: 0.5;
}




.password-container .box-inputs .password-info-container.desktop li {
    font-size: 14px;
    opacity: 0.7;
}

.password-container .box-inputs .password-info-container.mobile li {
    font-size: 12px;
    opacity: 0.7;
}




@media only screen and (min-width: 748px) and (max-width: 1095px) {
    .password-container .password-form .title.mobile {
      font-size: 26px;
    }
    .password-container .box-inputs.mobile {
      width: 70%;
    }
}